{{#if isPrivate}}
    <div class="settings-profile-main-info-block">
        <div class="profile-info__avatar-container">
            <div data-component="profile-avatar-slot"></div>
            <div class="profile-info__avatar-overlay">
                <img src="/assets/images/icons/photoEdit.svg" alt="Change photo" class="profile-info__camera-icon">
            </div>
        </div>
        <div data-component="full-name-form-slot"></div>
    </div>
{{else}}
    <div class="profile-main-info-block">
        <div data-component="profile-avatar-slot"></div>
        <p class="contact-user-full-name">{{firstName}} {{lastName}}</p>
    </div>
{{/if}}