.create-dialog-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}

.create-dialog-window__layout-slot {
    flex: 1;
    overflow: hidden;
}

.create-dialog-window__back-button {
    padding: 10px;
    width: 100%;
    align-items: center;
    font: var(--font-text-main);
    letter-spacing: var(--text-main-letter-spacing);
    background: none;
    border: none;
    color: var(--color-text);
}

.create-dialog-window__back-button:hover {
    cursor: pointer;
}

.create-dialog-btn {
    border: none;
    background: none;
}

.create-dialog-btn:hover {
    cursor: pointer;
    background-color: var(--color-text-hover2);
    border-radius: 5px;
}

.create-dialog-window__search {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
}