<div class="login-page">
    <img src="/assets/images/icons/Logo.svg" alt="Logo" class="auth__logo">
    <div class="login-page__glow"></div>
    <div class="ui-card login-card"></div> 
    <iframe 
        src="/support.html" 
        class="support-iframe" 
        frameborder="0">
    </iframe>
</div>