<div class="login-page">
    <img src="/assets/images/icons/Logo.svg" alt="Logo" class="auth__logo">
    <div class="login-page__glow"></div>
    <div class="ui-card login-card"></div> 
    <div class="login-page__support-button-container" data-component="login-page__support-button-container"></div>
    <div class="login-page__support-frame-container" data-component="login-page__support-frame-container"></div>
</div>