.ui-checkbox {

    display: flex;
    align-items: center;

    gap: 10px;
    padding: 8px 0px 8px 0px;
    cursor: pointer;
    user-select: none;

}

.ui-checkbox__input {
    display: none;
}

.ui-checkbox__box {

    width: 22px;
    height: 22px;

    border-radius: 6px;

    background: #d1d5db;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;

}
.ui-checkbox__box:hover {
    background: #aab0bb;
    transition: 0.2s;
}

.ui-checkbox__box::after {

    content: "✓";

    font-size: 14px;

    color: white;

    opacity: 0;

    transform: scale(0.6);

    transition: 0.2s;

}

.ui-checkbox__input:checked + .ui-checkbox__box {

    background: #4f6ef7;

}

.ui-checkbox__input:checked + .ui-checkbox__box::after {

    opacity: 1;
    transform: scale(1);

}

.ui-checkbox__label {
    font: var(--text-tertiary);
    letter-spacing: var(--text-tertiary-letter-spacing);
    background: var(--color-secondary);
    color: var(--color-neutral);
}