<label class="ui-checkbox">
    <input type="checkbox" class="ui-checkbox__input" name="{{name}}" {{#if checked}}checked{{/if}} />
    <span class="ui-checkbox__box"></span>
    <span class="ui-checkbox__label">
        {{label}}
    </span>
</label>