<div class="avatar-edit-menu">
    <div class="avatar-edit-menu__backdrop" data-component="avatar-edit-menu-backdrop"></div>
    <div class="avatar-edit-menu__panel" data-component="avatar-edit-menu-panel"></div>
</div>
