.contact-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.contact-list--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.no-contacts {
    font: var(--text-heading1);
    text-align: center;
    user-select: none;
}