<div class="login-page">
    <img class="auth__logo" src="/assets/images/icons/Logo.svg" alt="Логотип" />
    <div class="login-page__aurora" aria-hidden="true">
        <div class="login-page__aurora-blob login-page__aurora-blob--1"></div>
        <div class="login-page__aurora-blob login-page__aurora-blob--2"></div>
        <div class="login-page__aurora-blob login-page__aurora-blob--3"></div>
    </div>
    <div class="ui-card register-card"></div>
    <div class="login-page__support-button-container" data-component="register-page__support-button-container"></div>
    <div class="login-page__support-frame-container" data-component="register-page__support-frame-container"></div>
</div>