<div class="login-page">
    <img class="auth__logo" src="/assets/images/icons/Logo.svg" alt="Логотип" />
    <div class="login-page__glow"></div>
    <div class="ui-card register-card"></div>
    <div class="login-page__support-button-container" data-component="register-page__support-button-container"></div>
    <div class="login-page__support-frame-container" data-component="register-page__support-frame-container"></div>
</div>