<div class="message {{#if isOwn}}message--own{{/if}}">
    {{#unless isOwn}}
        <div class="message__avatar-container" data-component="message-avatar-slot"></div>
    {{/unless}}
    <div class="message__content-wrapper">
        {{#unless isOwn}}
            {{#if showAuthor }}
                <div class="message__author">{{senderName}}</div>
            {{/if}}
        {{/unless}}
        <div class="message__text">{{message.text}}</div>
        <div class="message__meta">
            <span class="message__time">{{formattedTime}}</span>
            {{#if isOwn}}
                <span class="message__status">{{message.status}}</span>
            {{/if}}
        </div>
    </div>
</div>