.message {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.message--own {
    justify-content: flex-end;
}

.message__content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bubble);
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    min-width: 40px;
}

.message--own .message__content-wrapper {
    background-color: var(--color-backgroundBlur);
    color: var(--color-text-inverted);
}

.message__avatar-container {
    display: flex;
    width: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.message__avatar {
    padding-bottom: 20px;
}

.message__author {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    margin-bottom: var(--spacing-xxs);
}

.message--own .message__author {
    text-align: right;
}

.message__text {
    font-size: var(--font-size-base);
    line-height: 1.4;
    word-wrap: break-word;
}

.message__meta {
    font-size: var(--font-size-xs);
    color: var(--color-text-tertiary);
    text-align: right;
    margin-top: var(--spacing-xxs);
}

.message--own .message__meta {
    color: var(--color-text-inverted-secondary);
}