<div class="message {{#if isOwn}}message--own{{/if}}">
    <div class="message__avatar-container" data-component="message-avatar-slot"></div>
    <div class="message__content-wrapper">
        {{#if (not isOwn)}}
            {{#if showAuthor }}
                <div class="message__author">{{message.sender.login}}</div>
            {{/if}}
        {{/if}}
        <div class="message__text">{{message.text}}</div>
        <div class="message__meta">
            <span class="message__time">{{formattedTime}}</span>
            {{#if isOwn}}
                <span class="message__status">{{message.status}}</span>
            {{/if}}
        </div>
    </div>
</div>