@use "variables" as *;
@use "mixins" as *;

/**
 * @file profileWindow.scss
 * @description Стили окна профиля.
 */

.profile-window {
    @include flex-column;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 0;
    min-width: 200px;
    gap: 10px;
}
