@use "variables" as *;
@use "mixins" as *;

/**
 * @file profileWindow.scss
 * @description Стили окна профиля.
 */

.profile-window {
    @include flex-column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 0;
    min-width: 200px;
    gap: 10px;

    &__actions {
        display: flex;
        flex-direction: row;
        gap: 15px;
        min-width: 500px;
        max-width: 800px;
        padding: 15px 0px;
    }
}
