<div class="contacts-page">
    <div class="contacts-page__sidebar"></div>
    <div class="contacts-page__mainfield">
        <p class="empty-field">У вас пока не выбран чат.<br>Скорее напишите кому-нибудь!</p>
    </div>
</div>