<div class="create-group-window">
    <div class="create-group-window__layout-slot" data-component="layout-slot"></div>
    <div class="create-group-window__footer" data-component="footer-slot"></div>
</div>