<main>
    <h1 id="login-title">{{title}}</h1>
    <form id="login-form">
        <p>Логин</p>
        <input type = text class="default-input" placeholder="Логин">
        <p>Пароль</p>
        <input type = password class="default-input" placeholder="Пароль">
        <button class="default-button" type="submit">Войти</button>
    </form>
</main>