@use "variables" as *;
@use "mixins" as *;

/**
 * @file contactListWrapper.scss
 * @description Стили обертки списка контактов с кастомным скроллбаром.
 */

.contact-list-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    align-self: stretch;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-empty;

    &::-webkit-scrollbar {
        width: 10px;
        border: 1px solid $color-border-sidebar;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        background-color: $color-empty;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scroll;
        border-radius: 50px;
    }
}
