<div class="contact-item ">
    <div class="contact-item__avatar-wrapper" data-component="contact-item-avatar-slot"></div>
    <div class="contact-item__info-wrapper" data-component="contact-item-info-slot">
        <p class="contact-name">{{name}}</p>
    </div>
</div>