<form class="message-input">
    <div class="message-input__input-container" data-component="message-text-input"></div>
    <div class="message-input__send-button-container" data-component="send-button-container"></div>
</form>