.message-input {
    display: flex;
    align-items: center;
    padding: var(--spacing-sm);
    background-color: var(--color-background-default);
    border-top: 1px solid var(--color-border-light);
}

.message-input__input-container {
    flex-grow: 1;
    margin-right: var(--spacing-sm);
}

.message-input__textarea {
    width: 100%;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-base);
    box-sizing: border-box;
}

.message-input__send-button {
    width: 40px; 
    height: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
}

.message-input__send-button img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}