<form class="message-input">
    <div class="message-input__row">
        <div class="message-input__input-container">
            <div data-component="message-input__sticker-button-container"></div>
            <textarea class="message-input__textarea" name="messageText" placeholder="Введите сообщение..." rows="1"></textarea>
            <div data-component="upload-button-container"></div>
        </div>
        <div class="message-input__send-button-container" data-component="send-button-container"></div>
    </div>
</form>