<div class="channel-details">
    <div class="channel-details__header" data-component="header-slot"></div>

    <div class="channel-details__content">
        <div class="channel-details__profile">
            <div class="channel-details__avatar-slot" data-component="avatar-slot"></div>
            <div class="channel-details__name-slot" data-component="name-slot"></div>
        </div>

        <div class="channel-details__actions-slot" data-component="actions-slot"></div>

        <div class="channel-details__info-row">
            <span class="channel-details__info-label">Информация о канале:</span>
            <span class="channel-details__info-value" data-component="description-slot"></span>
        </div>

        <div class="channel-details__invite-row" data-component="invite-row">
            <img src="/assets/images/icons/link.svg" class="channel-details__invite-icon" alt="" />
            <div class="channel-details__invite-content">
                <span class="channel-details__invite-label">Приглашение в канал:</span>
                <span class="channel-details__invite-url" data-component="invite-url"></span>
            </div>
        </div>

        <div class="channel-details__members">
            <div class="channel-details__members-header">
                <h4 class="channel-details__members-title">Список участников канала</h4>
            </div>
            <div class="channel-details__members-list" data-component="members-list-slot"></div>
        </div>
    </div>
</div>
