.dialog-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px 10px 15px;
    gap: 15px;

}

.dialog-header__avatar-container {
    margin-right: var(--spacing-sm);
}

.dialog-header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.dialog-header__info {
    display: flex;
    flex-direction: column;
}

.dialog-header__name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    color: var(--color-text-primary);
}

.dialog-header__status {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
}

.dialog-header__status--online {
    color: var(--color-status-online);
}