<div class="dialog-header">
    <div class="dialog-header__avatar-container" data-component="dialog-avatar-slot"></div>
    <div class="dialog-header__info">
        <div class="dialog-header__name">{{chat.title}}</div>
    </div>
    <div class="dialog-header__actions">
        <div data-component="dialog-search-slot"></div>
        <div class="dialog-header__settings" data-component="dialog-settings-slot"></div>
    </div>
</div>