@use "variables" as *;
@use "mixins" as *;

/**
 * @file dialogHeader.scss
 * @description Стили заголовка личного чата.
 */

.dialog-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    gap: 15px;

    &__avatar-container {
        max-width: 50px;
        max-height: 50px;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__info {
        @include flex-column;
        width: 100%;
        font-size: 18px;
        font: $text-secondary;
        letter-spacing: $text-secondary-ls;
    }

    &__settings {
        @include btn-reset;
        max-width: 50px;
        max-height: 50px;
    }
}
