<div class="delete-menu">
    {{!-- оверлей для затемнения --}}
    <div class="delete-menu__overlay" data-component="delete-menu-overlay"></div>
    <div class="delete-menu__container" data-component="delete-menu__container">
        <div class="delete-menu__info-container" data-component="delete-menu-info-container"></div>
        <div class="delete-menu__buttons-container" data-component="delete-menu-buttons-container"></div>
    </div>
</div>