<div class="chat-item {{class}}">
    <div class="chat-item__avatar-wrapper" data-component="chat-item-avatar-slot"></div>
    <div class="chat-item__content">
        <div class="chat-item__info-wrapper" data-component="chat-item-info-slot"></div>
        <div class="chat-item__meta-wrapper" data-component="chat-item-meta-slot"></div>
    </div>
</div>