.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--color-background-default);
    min-height: 0;
    gap: 10px;
    padding: 10px;
    padding-top: 0px;
}

.chat-window__header {
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--color-stroke);
    border-radius: 10px;
    background-color: var(--color-background-secondary);
    min-height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
}

.chat-window__main {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0;
    /* height: 100%; */
}

.chat-window__footer {
    min-height: 60px;
    padding: 10px;
}