.chat-page {
    background: var(--gradient-background-chats);
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.chat-page__sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-chat-sidebar);
    min-width: 280px;
    max-width: 459px;
    height: 100vh;
    width: 35%;
    border-right: 1px solid var(--color-border-sidebar);
}

.chat-page__mainfield {
    flex-grow: 1;
    display: flex;
    min-width: 400px;
    flex-direction: column;
    background-color: var(--color-background-default);
}

.empty-field {
    font: var(--text-heading1);
    text-align: center;
    user-select: none;
}

.chat-page__placeholder {
    color: var(--color-text-tertiary);
    font-size: var(--font-size-lg);
    text-align: center;
}