.chat-page {
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    background: var(--gradient-background-chats);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    margin: 0px;
    overflow: hidden;
}

.chat-page__sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-chat-sidebar);
    min-width: 280px;
    max-width: 459px;
    height: 100vh;
    width: 35%;
    border-right: 1px solid var(--color-border-sidebar);
}

.chat-page__mainfield {
    /* padding: 10px 10px 0px 10px; */
    flex-grow: 1;
    display: flex;
    /* flex-direction: column; */
    /* overflow: hidden; */
    min-width: 400px;
    background-color: var(--color-background-default);
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 0; */
    /* height: 100vh; */
    /* box-sizing: border-box; */
}

.empty-field {
    font: var(--text-heading1);
    text-align: center;
    user-select: none;
}

.chat-page__placeholder {
    color: var(--color-text-tertiary);
    font-size: var(--font-size-lg);
    text-align: center;
}