.contacts-page {
    min-height: 100vh;
    width: 100vw;
    background: var(--gradient-background-chats);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.contacts-page__sidebar {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-chat-sidebar);
    min-width: 280px;
    max-width: 459px;
    height: 100vh;
    width: 35%;
    border-right: 1px solid var(--color-border-sidebar);
}

.contacts-page__mainfield {
    flex-grow: 1;
    display: flex;
    background-color: var(--color-background-default);
    justify-content: center;
    align-items: center;
    min-width: 0;
    overflow: hidden;
}