@use "variables" as *;
@use "mixins" as *;

/**
 * @file searchForm.scss
 * @description Стили формы поиска с использованием вложенности и переменных.
 */

.search {
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;

    &-panel {
        max-height: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid $color-text-hover;
        border-radius: 10px;
        gap: 0.5rem;
        transition: border-color 0.2s;
        padding-right: 5px;

        &:focus-within {
            border-color: $color-text;
        }
    }

    &-line {
        height: 100%;
    }

    &-icon {
        padding: 8px 0 8px 10px;
        height: 100%;
    }
}

.add-button-cont {
    @include flex-center;
    position: relative;
    flex-shrink: 0;
    padding: 0;
}

/* Переопределение выравнивания для инпута внутри поиска */
.ui-input-wrapper {
    align-items: center;
}
