<div class="action-header">
    <div class="action-header__back-button"></div>
    <div class="action-header__title">
        {{#if icon}}
            <img src="{{icon}}" alt="" class="action-header__icon">
        {{/if}}
        <span>{{content}}</span>
    </div>
    <div class="action-header__back-button"></div>
</div>