:root {

    --gradient-msg:
        linear-gradient(
            to right,
            #455DBA 11%,
            #5A8A6E 100%
        );

    --gradient-msg-reverse:
        linear-gradient(
            to right,
            #5A8A6E 0%,
            #455DBA 100%
        );

    --gradiend-button:
        linear-gradient(
            to right,
            #6583FA 0%,
            #5A8A6E 100%
        );

    --gradiend-button-hover:
        linear-gradient(
            to right,
            #3D5D4A 0%,
            #324487 100%
        );

    --gradient-background-chats:
        linear-gradient(
            to bottom, 
            rgba(15, 16, 47, 1) 0%, 
            rgba(4, 28, 13, 0.88) 140%
        );

    --gradient-selected-chat:
        linear-gradient(
            to right,
            rgba(69, 93, 186, 1) 11%,
            rgba(90, 138, 110, 1) 100%
        );
}