:root {
    /* Шрифт заголовка */
    --font-primary: "Inter", sans-serif;
    --text-heading1: 600 24px/30px var(--font-primary);
    --text-heading1-letter-spacing: 0.4px;

    /* Шрифт на страницу регистрации (Заголовок2) */
    --font-secondary: "Inter", sans-serif;
    --text-secondary: 400 18px/16px var(--font-secondary);
    --text-secondary-letter-spacing: -0.5px;

    /* Шрифт инпутов и тд */
    --font-tertiary: "Inter", sans-serif;
    --text-tertiary: 400 14px/16px var(--font-tertiary);
    --text-tertiary-letter-spacing: 0.4px;


    /* Шрифт для текста */
    --font-text-main: "Reddit Sans Condensed", sans-serif;
    --font-text-main: 500 14px/22px var(--font-text-main);
    --text-main-letter-spacing: 0px;
}