.auth {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    padding: 25px;
    max-width: 360px;
    width: 100%;
}

.auth__form {
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}

.auth__label {
    font: var(--font-secondary);
    background: var(--gradient-msg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    width: fit-content;
}

.auth__title {
    text-align: center;
    font: var(--text-heading1);
    letter-spacing: var(--text-heading1-letter-spacing);
    background: var(--gradient-msg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.auth__field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.auth__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth__login {
    height: 100%;
    width: 100%;
    max-height: 42px;
    border: none;
    cursor: pointer;
}

.auth__register {
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    max-height: 42px;
}

.auth__divider-text {
    font: "Inter", sans-serif;
    opacity: 0.21;
    color: #1E1E1E;
    font-size: 12px;
}

.auth__divider {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #9aa0a6;
    font-size: 14px;
}

.auth__divider::before,
.auth__divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #d0d0d0;
}