<form class="auth__form" novalidate>
    <h1 class="auth__title">Вход</h1>
    <div class="auth__inputs">
        <div class="auth__field">
            <p class="auth__label"> Введите логин:</p>
            <div data-component="loginInput"></div> 
        </div>

        <div class="auth__field">
            <p class="auth__label"> Введите пароль:</p>
            <div data-component="passwordInput"></div> 
        </div>
    </div>
    <div class="auth__remember"></div>

    <div class="auth__login"></div> 
    <div data-component="form-error-message"></div>
    <div class="auth__divider">
        <span class="auth__divider-text">Нет аккаунта?</span>
    </div>
    <div class="auth__register"></div> 
</form>