<div class="support-overlay">
    <div class="support-overlay__header">
        <h1 class="support-overlay__title">Техподдержка Pulse</h1>
        <div class="support-overlay__header-actions"></div>
    </div>

    <div class="support-overlay__nav">
        <div class="support-overlay__nav-buttons"></div>
    </div>

    <div class="support-overlay__tab-content"></div>
</div>
