<div class="support-my-tab">
    <div class="support-my-tab__toolbar">
        <div class="support-my-tab__search-wrap">
            <img src="/assets/images/icons/searchIcon.svg" alt="" class="support-my-tab__search-icon" />
            <input
                class="support-my-tab__search-field"
                type="text"
                placeholder="Поиск по тикетам..."
            />
        </div>
        <div class="support-my-tab__filters">
            <button class="support-my-tab__filter-btn" data-filter="all">
                Все · <span class="support-my-tab__filter-count">0</span>
            </button>
            <button class="support-my-tab__filter-btn" data-filter="new">
                Открытые · <span class="support-my-tab__filter-count">0</span>
            </button>
            <button class="support-my-tab__filter-btn" data-filter="in_progress">
                В работе · <span class="support-my-tab__filter-count">0</span>
            </button>
            <button class="support-my-tab__filter-btn" data-filter="closed">
                Закрытые · <span class="support-my-tab__filter-count">0</span>
            </button>
        </div>
    </div>
    <div class="support-my-tab__list"></div>
</div>
