<div class="support-new-tab">
    <div class="support-new-tab__scroll">
        <div class="support-new-tab__section">
            <p class="support-new-tab__label">Как Вас зовут</p>
            <div class="support-new-tab__name-input"></div>
        </div>

        <div class="support-new-tab__section">
            <p class="support-new-tab__label">Email</p>
            <div class="support-new-tab__email-input"></div>
        </div>

        <div class="support-new-tab__section">
            <p class="support-new-tab__label">Тип обращения</p>
            <div class="support-new-tab__issue-type-buttons" role="group" aria-label="Тип обращения"></div>
        </div>

        <div class="support-new-tab__section support-new-tab__section--grow">
            <p class="support-new-tab__label">Опишите проблему</p>
            <div class="support-new-tab__issue-input"></div>
        </div>

        <div class="support-new-tab__section">
            <p class="support-new-tab__label">Вложения</p>
            <div class="support-new-tab__files-input"></div>
        </div>
    </div>

    <div class="support-new-tab__footer">
        <div class="support-new-tab__confirm"></div>
    </div>
</div>
