<div class="msg-search-bar">
    <div class="msg-search-bar__input-row">
        <img class="msg-search-bar__icon" src="/assets/images/icons/searchIcon.svg" alt="" aria-hidden="true">
        <div class="msg-search-bar__input-slot" data-component="msb-input-slot"></div>
        <div class="msg-search-bar__close-slot" data-component="msb-close-slot"></div>
    </div>
    <div class="msg-search-bar__results">
        <ul class="msg-search-bar__list"></ul>
        <div class="msg-search-bar__empty" style="display:none;">К сожалению, сообщение не найдено</div>
        <div class="msg-search-bar__loading" style="display:none;">Загрузка...</div>
    </div>
</div>
