.ui-button {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    border-radius: 10px;
    cursor: pointer;
    font: var(--font-secondary);
    letter-spacing: var(--text-secondary-letter-spacing);
    color: var(--color-text);
    border: 0;
}

.ui-button__primary {
    background: var(--gradient-msg);
}

.ui-button__primary:hover {
    background: var(--gradiend-button-hover);
    transition: all 0.7s ease;
}

.ui-button__secondary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.ui-button__secondary:hover {
    background: var(--gradiend-button-hover);
    border: 0;
    color: var(--color-text);
    transition: all 0.4s ease;
}

.ui-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.delete-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--color-empty);
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(242, 240, 240, 1);
    border-radius: 10px;
    background-color: rgba(242, 240, 240, 0);
    cursor:pointer;
}

.add-button > img {
    transform: rotate(45deg);
}

.menu-button {
    background-color: var(--color-empty);
    width: 100%;
    border: none;
}
