.ui-button {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    border-radius: 10px;
    cursor: pointer;
    font: var(--font-secondary);
    letter-spacing: var(--text-secondary-letter-spacing);
    color: var(--color-text);
    border: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.ui-button__primary {
    background: var(--gradient-msg);
    position: relative;
    z-index: 1;
}

.ui-button__primary:after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradiend-button-hover);
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s;
    border-radius: 10px;
}

.ui-button__primary:hover:after {
    opacity: 1;
}

button > span {
    position: relative;
    z-index: 1;
}

.ui-button__secondary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    position: relative;
    overflow: hidden;
}

.ui-button__secondary:after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradiend-button-hover);
    border: 0;
    opacity: 0;
    z-index: 0;
    color: var(--color-text);
    transition: all 0.5s;
}

.ui-button__secondary:hover:after {
    opacity: 1;
}

.ui-button__secondary:hover {
    color: var(--color-text);
}

.ui-button__secondary2 {
    border: 1px solid var(--color-text);
    background: none;
    color: var(--color-text);
    position: relative;
    overflow: hidden;
}

.ui-button__secondary2:after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color-text);
    border: 0;
    opacity: 0;
    z-index: 0;
    color: var(--color-text);
    transition: all 0.5s;
}

.ui-button__secondary2:hover:after {
    opacity: 1;
}

.ui-button__secondary2:hover {
    color: var(--color-primary);
}


.ui-button__secondary3 {
    color: var(--color-primary);
    position: relative;
    font: var(--font-secondary);
    letter-spacing: var(--text-secondary-letter-spacing);
    overflow: hidden;
    border: none;
}

.ui-button__secondary3:after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradiend-button-hover);
    border: 0;
    opacity: 0;
    z-index: 0;
    color: var(--color-text);
    transition: all 0.5s;
}

.ui-button__secondary3:hover:after {
    opacity: 1;
}

.ui-button__secondary3:hover {
    border: none;
    color: var(--color-text);
}



.ui-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.delete-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--color-empty);
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(242, 240, 240, 1);
    border-radius: 10px;
    background-color: rgba(242, 240, 240, 0);
    cursor:pointer;
}

.add-button:hover {
    transition: all 0.5s;
    border: 2px solid var(--color-text-hover);
}

.add-button > img {
    transform: rotate(45deg);
}

.add-button:hover > img {
    filter: brightness(0.5);
    transition: filter 0.5s;
}

.menu-button {
    background-color: var(--color-empty);
    width: 100%;
    border: none;
    padding: 8.5px 0px 8.5px 0px;

}

.logout-button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px;
    text-align: center;
    color: var(--color-text);
    background-color: var(--color-empty);
    border: 1px solid var(--color-text);
}

.back-button {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: var(--color-text);
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
}

.back-button > img {
    width: 28px;
    height: 21px;
}

.back-button:hover > img {
    filter: brightness(0.5);
}