<div class="settings-page">
    <div class="settings-page__sidebar"></div>
    <div class="settings-page__mainfield">
        <p class="empty-field">У вас пока не выбран пункт меню.<br>Скорее выберите что-нибудь!</p>
    </div>
</div>