<div class="complaint-item">
    <div class="complaint-item__row">
        <div class="complaint-item__left">
            <span class="complaint-item__type-badge" data-component="ci-type"></span>
            <span class="complaint-item__author" data-component="ci-author"></span>
        </div>
        <span class="complaint-status-badge" data-component="ci-status-badge"></span>
    </div>
    <div class="complaint-item__body" data-component="ci-body"></div>
    <div class="complaint-item__footer">
        <span class="complaint-item__time" data-component="ci-time"></span>
    </div>
</div>
