<form class="find-user-form" novalidate>
    <h3 class="find-user-form__title">{{labelTitle}}</h3>
    
    <div class="find-user-form__field">
        <label class="find-user-form__label">{{labelInput}}</label>
        <div data-component="find-user-input-slot"></div>
    </div>

    <div class="find-user-form__button-wrapper" data-component="find-user-submit-slot"></div>
</form>