<div class="admin-page">
    <div class="admin-page__header">
        <h1 class="admin-page__title">Обращения в поддержку</h1>
    </div>
    <div class="admin-page__content">
        <div class="admin-page__list" data-component="admin-complaint-list"></div>
    </div>
</div>
