<div class="meta-chat-info">
    <div class="meta-chat-info__time">{{lastMessageTime}}</div>
    <div class="meta-chat-info__unread-count" {{#unless unreadCount}}style="display:none"{{/unless}}>{{unreadCount}}</div>
</div>