<div class="meta-chat-info">
    {{#if lastMessageTime}}
        <div class="meta-chat-info__time">{{lastMessageTime}}</div>
    {{/if}}
    {{#if unreadCount}}
        <div class="meta-chat-info__unread-count">{{unreadCount}}</div>
    {{/if}}
</div>