.auth {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    padding: 25px;
    max-width: 360px;
    width: 100%;
}

.auth__form__register {
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
}

.auth__header {
    display: flex;
    align-items: center;
    position: relative; 
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: row;
}

.auth__title {
    margin: 0; /* Убираем стандартные отступы у h1 */
}

.auth__backArrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-110%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__backArrow:hover {
    opacity: 1;
    color: var(--gradient-msg);
    transition: all 0.3s ease;
}

.auth__label {
    font: var(--font-secondary);
    background: var(--gradient-msg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    width: fit-content;
}

.auth__title {
    text-align: center;
    font: var(--text-heading1);
    letter-spacing: var(--text-heading1-letter-spacing);
    background: var(--gradient-msg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.auth__field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.auth__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth__login {
    height: 100%;
    width: 100%;
    max-height: 42px;
    border: none;
    cursor: pointer;
}

.auth__register {
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    max-height: 42px;
}
