<li class="search-result-item {{#if isSelected}}search-result-item--selected{{/if}}">
    <div class="search-result-item__avatar" data-component="sri-avatar-slot"></div>
    <div class="search-result-item__body">
        <div class="search-result-item__name"></div>
        <div class="search-result-item__preview"></div>
    </div>
    <div class="search-result-item__time">{{formattedTime}}</div>
</li>
