@use "variables" as *;
@use "mixins" as *;

/**
 * @file settingsProfileWindow.scss
 * @description Стили окна редактирования профиля в настройках.
 */

.settings-profile-window {
    @include flex-column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: $gradient-background-chats;
    background-attachment: fixed;
    padding: 10px;
    box-sizing: border-box;
    min-height: 0;
    min-width: 200px;
    gap: 10px;
    position: relative;
}

.settings-profile-save-button-wrapper {
    display: flex;
    position: absolute;
    bottom: 10px;
    height: 42px;
    width: 360px;
}
