<div class="chat-page">
    <div class="chat-page__sidebar"></div>
    <div class=chat-page__mainfield>
        <p class="empty-field">У вас пока не выбран чат.<br>Скорее напишите кому-нибудь!</p>
    </div>
</div>