<div class="create-channel-window">
    <div class="create-channel-window__header" data-component="header-slot"></div>

    <div class="create-channel-window__body">
        <div class="create-channel-window__avatar-slot" data-component="avatar-slot"></div>

        <div class="create-channel-window__name-slot" data-component="name-slot"></div>
        <div class="create-channel-window__submit-slot" data-component="submit-slot"></div>
    </div>
</div>
