.ui-input {
    height: 41px;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid #2A2A2A;
    opacity: 0.5;
    background: rgba(255,255,255,0.05);
    color: white;
    font: var(--text-tertiary);
    letter-spacing: var(--text-tertiary-letter-spacing);
}

.ui-input:focus {
    outline: none;
    border-color: var(--color-primary);
    opacity: 1;
}