<div class="add-member-window">
    <div class="add-member-window__layout-slot" data-component="layout-slot"></div>
    <div class="add-member-window__footer" data-component="footer-slot"></div>
</div>
