<div class="group-details">
    <div class="group-details__header" data-component="header-slot"></div>
    
    <div class="group-details__content">
        <div class="group-details__profile">
            <div class="group-details__avatar-slot" data-component="avatar-slot"></div>
            <div class="group-details__name-slot" data-component="name-slot"></div>
        </div>

        <div class="group-details__actions-slot" data-component="actions-slot"></div>

        <div class="group-details__members">
            <div class="group-details__members-header">
                <h4 class="group-details__members-title text-m text-hover2">Список участников группы</h4>
            </div>
            <div class="group-details__members-list" data-component="members-list-slot"></div>
        </div>
    </div>
</div>
