<div class="confirm-modal">
    {{!-- оверлей для затемнения --}}
    <div class="confirm-modal__overlay" data-component="confirm-modal-overlay"></div>
    <div class="confirm-modal__container" data-component="confirm-modal__container">
        <div class="confirm-modal__info-container text-l" data-component="confirm-modal-info-container"></div>
        <div class="confirm-modal__buttons-container" data-component="confirm-modal-buttons-container"></div>
    </div>
</div>