<div class="group-header">
    <div class="group-header__avatar-container" data-component="group-avatar-slot"></div>
    <div class="group-header__info">
        <div class="group-header__name">{{chat.title}}</div>
        <div class="group-header__members">{{chat.members.length}} участника(ов)</div>
    </div>
    <div class="group-header__settings" data-component="group-settings-slot"></div>
</div>