.group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 15px 10px 15px;
    gap: 15px;
}

.group-header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.group-header__name {
    
}

.group-header__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    font: var(--font-secondary);
    letter-spacing: var(--text-secondary-letter-spacing);
}

.group-header__members {
    font-size: 12px;
}

.group-header__settings {
    background: none;
    border: none;
    cursor: pointer;
}