<div class="message-list">
    <div class="message-list__empty-state" style="display: none;">
        <div class="message-list__empty-text">Начните общение</div>
    </div>
    <div class="message-list__flex-container">
        {{!-- Сообщения будут монтироваться сюда --}}
    </div>
</div>