.message-list {
    height: 100%;
    min-height: 0;
    overflow-y: auto;
}

.message-list__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%; 
    padding: var(--spacing-md);
    gap: 10px;
}

.message-list::-webkit-scrollbar {
    width: 10px;
}

.message-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.message-list::-webkit-scrollbar-thumb {
    background: var(--color-scroll);
    border-radius: 50px;
}

.message-list__empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message-list__empty-text {
    background-color: var(--color-baseBackground);
    color: var(--color-text-hover);
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 14px;
}