.message-list {
    height: 100%;
    min-height: 0;
    overflow-y: auto;
}

.message-list__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%; 
    padding: var(--spacing-md);
    gap: 10px;
}

.message-list::-webkit-scrollbar {
    width: 10px;
}

.message-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.message-list::-webkit-scrollbar-thumb {
    background: var(--color-scroll);
    border-radius: 50px;
}