<div class="info-menu">
    <div class="info-menu__overlay" data-component="info-menu-overlay"></div>
    <div class="info-menu__container" data-component="info-menu__container">
        <div class="info-menu__text-container" data-component="info-menu-text-container"></div>
        <div class="info-menu__buttons-container" data-component="info-menu-buttons-container"></div>
    </div>
</div>
