<div class="create-chat-menu">
    {{!-- оверлей для затемнения --}}
    <div class="create-chat-menu__overlay" data-component="create-chat-overlay"></div>
    <div class="create-chat-menu__button-container" data-component="create-chat__button-container"></div>
</div>