.delete-chat-menu {
    position: absolute;
}

.delete-chat-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999; /* поверх остальных элементов */
}

.delete-chat-menu__button-container {
    position: absolute;
    top: 22px;
    right: -50px;
    display: flex;
    flex-direction: column;
    z-index: 1000; /* поверх оверлея */
    border: none;
    border-radius: 10px;
    width: 220px;
    height: 100px;
    background-color: var(--color-neutral);
}

.delete-chat-menu__button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 8px;
    padding: 10px;
    background: none;
    border: none;
    color: var(--color-text);
    align-items: center;
}

.delete-chat-menu__button:hover {
    background-color: var(--color-text-hover2);
    cursor: pointer;
    border-radius: 10px;
}