<div class="delete-chat-menu">
    {{!-- оверлей для затемнения --}}
    <div class="delete-chat-menu__overlay" data-component="delete-chat-overlay"></div>
    <div class="delete-chat-menu__button-container" data-component="delete-chat__button-container"></div>
</div>